/vendor/
.phpunit.result.cache
.phpunit.cache/
composer.lock
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
*.log
.windsurfrules
.env
coverage/
.php-cs-fixer.cache
build/
docs/
node_modules/
